@import "tailwindcss";

@theme {
  --color-light-bg-main: #f8fafc;
  --color-light-bg-surface: #ffffff;
  --color-light-bg-card: #f1f5f9;
  --color-light-bg-hover: #e2e8f0;

  --color-light-text-main: #0f172a;
  --color-light-text-dim: #475569;
  --color-light-text-subdim: #64748b;

  --color-light-accent-blue: #2563eb;
  --color-light-accent-blue-hover: #1d4ed8;
  --color-light-accent-yellow: #eab308;
  --color-light-accent-yellow-hover: #ca8a04;

  --color-light-border: #cbd5e1;

  --color-dark-bg-main: #0a0a0a;
  --color-dark-bg-surface: #121212;
  --color-dark-bg-card: #1e1e1e;
  --color-dark-bg-hover: #282828;

  --color-dark-text-main: #f8fafc;
  --color-dark-text-dim: #cbd5e1;
  --color-dark-text-subdim: #94a3b8;

  --color-dark-accent-blue: #3b82f6;
  --color-dark-accent-blue-hover: #2563eb;
  --color-dark-accent-yellow: #facc15;
  --color-dark-accent-yellow-hover: #eab308;

  --color-dark-border: #282828;

  --font-bondonse: "boldonse";
  --font-poppins: "poppins";

}